<% breadcrumb :new, @quiz %>
<div class="panel mb25">
  <div class="panel-heading broder">
    <h1>Edit <%= @quiz.name %></h1>
  </div>
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-12">
        <%if current_quiz_admin.present? %>
          <%= render 'form', cancel_link: quiz_path(@quiz) %>
        <%else%>
          <%= render 'form', cancel_link: quiz_path(@quiz) %>
        <%end%>
      </div>
    </div>
  </div>
</div>
